# Series
**It is one dimensional array capable of storing various data types.**

In [1]:
import pandas as pd

In [2]:
mySer=pd.Series([2,4,6,8])
mySer

0    2
1    4
2    6
3    8
dtype: int64

**Setting index**
***

In [3]:
mySer=pd.Series([2,4,6,8],index=["i","ii","iii","iv"])
mySer

i      2
ii     4
iii    6
iv     8
dtype: int64

In [6]:
data=pd.Series({"name":['Saqlain','Ali','Saqlain'],"age":22})
print(data)
print()
print(data["name"])#accessing specific index
print(data["name"][2]) #accessing specific value

name    [Saqlain, Ali, Saqlain]
age                          22
dtype: object

['Saqlain', 'Ali', 'Saqlain']
Saqlain

**Repeatition of same value**
***

In [5]:
n=pd.Series(2,index=[1,2,4,5,6,7,8])

print(n)

1    2
2    2
4    2
5    2
6    2
7    2
8    2
dtype: int64

***