# CSV writing using Pandas
***

In [1]:
import pandas as pd

In [2]:
dis={"Names":["Ali","Hassan","Hussain"],"Age":[21,25,16]}
data=pd.DataFrame(dis,index=["i","ii","iii"])
data

       Names  Age
i        Ali   21
ii    Hassan   25
iii  Hussain   16

***
***To create csv of any dataframe "dataframe_var_name.to_csv("csv_file_name.csv")" is used.***

In [3]:
data.to_csv("StuName&Age.csv",index=False)# index false is using to exclude index from csv